{% extends './base.html' %}

{% block content %}
    <h2>Courses for your selected topics:</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="container" style="margin-top: 5%">
            <div class="row">
                {% for course in courses %}
                    <button name="selected_course" type="submit" value="{{ course.id }}">
                        <h4>
                            {{ course.name }}
                        </h4>
                    </button>
                {% endfor %}

            </div>
        </div>
    </form>
{% endblock %}