{% extends './base.html' %}

{% block content %}
    <div class="container">
        <div class="row mt-2">
            <h2>{{ course.name }}</h2>
        </div>
        <div class="row mt-4">
            <h4>Course Description:</h4>
            <p>
                {{ course.description }}
            </p>
        </div>
        <div class="row mt-4">
            <p>
                <span style="font-weight: bold">Topics:</span>
                {% for topic in topics %}
                    {{ topic }},
                {% endfor %}
            </p>
        </div>
        <div class="row mt-4">
            <h4>Chapters:</h4>
            <form method="POST">
                {% csrf_token %}
                {% for chapter in chapters %}
                    <li>
                        <button name="selected_chapter" type="submit" value="{{ chapter.id }}">
                            {{ chapter.title }}
                        </button>
                    </li>
                {% endfor %}
            </form>
        </div>
        <div class="row mt-4">
            <form method="GET" action='#'>
                <button name="forum" type="submit" value="forum">Go to Forum</button>
            </form>
        </div>
    </div>
{% endblock %}