{% extends './base.html' %}

{% block content %}
    <h2>Create A New User Profile</h2>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        <button style="margin-top: 2%" type="submit" class="save btn btn-secondary">Create</button>

    </form>
{% endblock %}